@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}

@layer utilities {
    .bg-grid {
        background-image: 
            linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
        background-size: 40px 40px;
    }

    .glow-indigo {
        background: radial-gradient(circle, rgba(99, 102, 241, 0.15) 0%, transparent 70%);
    }

    .glow-pink {
        background: radial-gradient(circle, rgba(236, 72, 153, 0.1) 0%, transparent 70%);
    }
}